body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background: #dad4d4;
    text-align: center;
}

.header {
    position: absolute;
    height: 100px;
    width: 100%;
    background: #70c26f;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

/* tabs */
.tabs {
    position: absolute;
    top: 150px;
    right: 0;
    left: 0;
    text-align: center;
}

.tab {
    display: inline-block;
    position: relative;
    border-radius: 4px;
    margin: 10px;
    overflow: hidden;
    text-align: center;
    width: 20%;
    height: 50px;
    line-height: 48px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.tab:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

#tab1 {
    background-color: #f4db33;
}

#tab2 {
    background-color: #972ff8;
}

#tab3 {
    background-color: #dc3c84;
}

/* cards */
.cards {
    position: relative;
    top: 150px;
    left: 60px;
    height: 300px;
    width: 80%;
    border-radius: 4px;
    text-align: start;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.content-left {
    float: left;
    width: 22%;
    height: 300px;
    /* padding: 15px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-right {
    padding: 15px 0 0 15px;
    float: right;
    width: 60%;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.x-icon {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 10px;
    font-size: 2.5em;
    background-color: #70c26f;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.x-icon:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

#card1 .content-left {
    background-color: #f4db33;
}

#card2 .content-left {
    background-color: #972ff8;
}

#card3 .content-left {
    background-color: #dc3c84;
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 0.5;
    }
}

.cards {
    animation-name: zoomIn;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}